{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body class="login">
<h2 align="center">Login page</h2>
<form action="logdata" method="post">
    {% csrf_token %}
    <h3 align="center">{{data}}</h3>
    <table align="center">
        <tr>
            <td>Username:</td>
            <td><input type="text" name="tbuname"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="tbpwd"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Login" name="tbsubmit"></td>
            <td><a href="{% url 'reg' %}" style="background-color:white">Signup</a></td>
        </tr>
    </table>



</form>


</body>
</html>